.levels {

  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;

    @include laptops-small {
      width: 100%;
    }
  }

  &__title {
    align-self: center;
  }

  &__img-wrap {
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;

    @include laptops-small {
      margin-bottom: 50px;
    }

  }

  &__img {
    @include laptops-large {
      height: 668px;
      width: 1080px;
    }

    @include laptops-small {
      width: 800px;
      height: 490px;
    }

    @include phones {
      width: 90%;
      height: 225px;
    }

    @include phones-small {
      height: 200px;
    }
  }

  &__list {
    @include laptops-small {
      overflow: hidden;
      overflow-x: auto;
      height: 550px;
      display: flex;
      align-items: center;
    }

    @include phones {
      height: 500px;
    }
  }
}