.list {
  &__item {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 30px;

      @include phones {
        margin-bottom: 15px;
      }
    }
  }

  &__icon {
    margin-right: 30px;
  }
}